/* 1- Estilos utilizados para el ncabezado, logo y menú del evento*/

.nav{
    background-color: rgb(53,58,64);
    margin: auto;
    overflow: auto;
    min-height: 80px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    float: right;
}

.navbar-brand{
    color: white;
    padding: 80px;
    padding-bottom: 90px;
}

#top-link-green{
    color: rgb(69,140,88);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    min-height: 20px;
}

#top-link{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    min-height: 20px;
}

/*2- Estilos utilizados para la imagen de fondo, el encabezado y texto promocional */

.ba-img{
    background-image: url(./img/ba1.jpg);
    min-height: 690px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(65%);
}

.TextoSobreImagen { 
    position: absolute; 
    top: 38%; 
    left: 52%;
    color: white;
    text-align-last: right;
}

/* 3- Estilo utilizado para el anuncio de los oradores */

.titulo{
    text-align: center;
}

/* 4- Estilo utilizado para la sección dedicad a los que deseen postularse como oradores*/

#TituloCharla{
    text-decoration-color: dimgray;
}

#light-green{
    background-color: rgb(150,201,62);
}

/* 5- Estilo utilizado en el pie de página con links a tópicos generales*/

footer{
    background-image: linear-gradient(to right, rgb(24,54,68), rgb(28,83,114));
    text-align-last: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    padding: 3px;
}


